.block {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.sort {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
