.primary {
  width: 400px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;

  &:focus {
    border: 2px solid #5ab468;
  }
}

.second {
  width: 400px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  outline: none;
  transition:
    padding 0.3s ease-in-out,
    width 0.3s ease-in-out;

  &:focus {
    padding-block: 60px;
  }
}

.third {
  width: 580px;
  padding: 20px;
  border: 1px #d5d3d3 solid;
  border-radius: 20px;
  outline: none;

  &:focus {
    border: 2px solid rgb(217 217 217 / 50%);
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 10%);
  }
}
