.textarea::placeholder {
  color: var(--text-color);
  font-family: Inter-font, Helvetica, Arial, sans-serif;
  font-size: inherit;
}

.primary {
  height: 300px;
  padding: 10px;
  border: 1px solid var(--text-color);
  font-size: 18px;
  font-weight: 400;
  outline: none;
  resize: none;

  &:focus {
    border: 2px solid var(--text-color-7);
    box-shadow: var(--primary-boxshadow-10);
  }
}

.auction {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background: var(--secondary-color);
  box-shadow: var(--primary-boxshadow);
  font-size: 16px;
}

.error {
  border: 1px solid var(--error-color);

  &::placeholder {
    color: var(--error-color);
  }
}
