.wrapper {
  margin-bottom: 100px;
}

.img_block {
  position: relative;
  height: 480px;
  margin-bottom: 40px;
}

.img {
  position: absolute;
  height: inherit;
  filter: blur(16px);
}

.inner {
  position: absolute;
  z-index: 2;
  padding-block: 80px;
  text-align: center;
}

.title {
  margin-bottom: 40px;
  color: var(--secondary-color);
}

.btn {
  width: 100%;
  max-width: 402px;
  border-radius: 20px;
}
