.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 100px;
}

.img {
  width: 70px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 50px;
  height: 50px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin-top: 100px;
  border-block: 1px solid rgb(106 106 106 / 30%);
}
