.items {
  display: grid;
  align-items: center;
  padding-top: 55px;
  grid-template-columns: repeat(4, 1fr);
}

.item {
  height: 100%;
  min-height: 230px;
  max-height: 230px;
  padding: 66px 55px 88px;
  border: 3px solid var(--primary-color-3);
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  gap: 6px;
  line-height: 44px;
}

.logo {
  width: 46px;
  height: 46px;
}

.desc {
  line-height: 19px;
}
