.avatare {
  width: 250px;
  height: 250px;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 94px;
  gap: 20px;
}

.wrap {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

.btn {
  padding: 10px;
  font-size: 22px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin-bottom: 40px;
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.more {
  cursor: pointer;
  margin-block: 80px;
  text-align: center;
}

.reviews_text {
  margin-bottom: 40px;
}

.textarea {
  height: 80px;
  border-radius: 4px;
  transition: height 0.25s ease-in-out;

  &:active,
  &:focus {
    height: 100%;
    max-height: 400px;
  }
}
