.wrapper {
  position: relative;
  z-index: 1;
  height: 503px;
  margin-block: 55px;
}

.img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 503px;
  filter: blur(20px);
}

.inner {
  position: relative;
  z-index: 2;
}

.block {
  display: flex;
  padding-bottom: 111px;
}

.title {
  display: inline-block;
  color: var(--secondary-color);
  margin-block: 45px;
}

.input {
  width: 100%;
  max-width: 450px;
  border: 1px solid transparent;
  border-radius: 0;
  padding-block: 20px;
  padding-inline: 28px;
}

.btn {
  border-radius: none;
}
