.form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  gap: 15px;
}

.input {
  width: 100%;
  max-width: 300px;
}

.block {
  display: flex;
  gap: 20px;
}

.inner {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
}

.delete {
  position: relative;
  color: var(--error-color);
  cursor: pointer;

  &:before {
    content: '';
    transition: all 0.1s ease-in;
  }

  &:hover:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--error-color);
  }
}

.err {
  color: var(--error-color);
}
