.form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  gap: 15px;
}

.input {
  width: 100%;
  max-width: 300px;
}

.block {
  display: flex;
  gap: 20px;
}

.inner {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
}

.delete {
  margin-left: 253px;
  color: var(--error-color);
  cursor: pointer;
}

.err {
  color: var(--error-color);
}
