.input {
  width: 250px;
  margin-top: 43px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  gap: 15px;
}

.block {
  display: flex;
  margin-top: 48px;
  gap: 40px;
}

.inner {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
}

.delete {
  margin-left: 253px;
  color: #ff0c0c;
  cursor: pointer;
}
