.title {
  margin-top: 40px;
  margin-bottom: 70px;
  color: var(--primary-color);
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 40px;
}

.input {
  width: 100%;
  max-width: 440px;
  height: 42px;
  padding: 4px 12px;
  font-size: 16px;
}

.textarea {
  width: 100%;
  max-width: 440px;
  min-height: 140px;
  max-height: 260px;
  resize: vertical;
}

.radio_block {
  display: flex;
  width: 100%;
  max-width: 490px;
  flex-wrap: wrap;
  gap: 32px;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 12px;
}

.btn {
  border-radius: 20px;
  font-size: 24px;
}

.darg_modal {
  width: 100%;
  max-width: 360px;
  height: 140px;
  margin-block: 30px;
}
