.btn {
  display: inline-block;
  border: 1px solid;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s ease;
}

.conteined {
  min-width: 200px;
  padding: 26px;
  border-color: transparent;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 40px;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

.offer {
  width: 100%;
  padding: 6px 12px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;

  &:hover {
    background-color: var(--secondary-color-hover);
  }
}

