.paragraph16_regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}

.paragraph30_medium {
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
}

.paragraph20_regular {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}


.title24_regular {
font-size: 24px;
font-weight: 400;
line-height: 29px;

}

.title40_regular {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.title96_regular {
  font-size: 96px;
  font-weight: 400;
  line-height: 100%;
}


.title32_bold{
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}