:root {

  /* --------------Color------------- */
  --primary-color: #5ab468;
  --primary-color-hover: #4c9b58;
  --primary-color-3: rgb(90 180 104 / 30%);
  --secondary-color: #fff;
  --secondary-color-hover: #e0e0e0;
  --text-color: #676666;
  --accent-color: #000;
  --accent-color-6: rgb(0 0 0 / 60%);
  --primary-boxshadow: 0 0 20px 1px rgb(0 0 0 / 25%);
  --second-boxshadow: 0 0 10px 0.5px rgb(0 0 0 / 15%);
  --error-color: #f00;
  --success-color: #0ebe2a;
  --pedding-color: #ffc875;
}
