.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  gap: 20px;
}

.input {
  width: 100%;
  border: none;
  box-shadow: none;
  outline: none;
}

.search:has(.input:focus-visible) {
  outline: 2px solid var(--primary-color);
}

.img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
