.overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color-6);
  inset: 0;
}

.body {
  position: relative;
  z-index: 11;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background-color: var(--secondary-color);
  transform: translate(-50%, -50%);
}
